# REMEMBER TO PREFIX EVERY VARIABLE WITH `DB_`, `APP_` OR `MAIL_`
# OR ELSE IT WILL NOT BE PARSED CORRECTLY

# DATABASE CONNECTION
db_host=127.0.0.1
db_port=3306
db_dbname=vetcampdb
db_user=root
db_pass=
# APP CONFIG
app_name=Vetcamp
app_debug=true
# MAIL CONNECTION
mail_host=smtp.gmail.com
mail_port=587
mail_user=your_email
mail_pass=your_password
mail_from=your_email
