RewriteEngine On
RewriteBase /

# Deny access to the storage and tests directories
RewriteRule ^(storage|tests|bootstrap|mailing|kernel|bootstrap)/ - [F,L]

# Deny access for files (craft.php and .env)
RewriteRule ^.*\.(env)$ - [F,L]
RewriteRule ^.*\.(envtype)$ - [F,L]

# Redirect all requests to index.php if the requested file or directory does not exist
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php


<Files "craft">
    Order Allow,Deny
    Deny from all
</Files>
