.accepted-grouped {
  margin-bottom: 2em;
}

.accepted-card {
  padding: 1em;
  background-color: white;
  border: 1px solid var(--bright-shade);
  border-radius: 27px;
  transition: all 0.2s ease;
  margin: 1em 0;
  box-shadow: 15px 15px 150px #d7d7d7;
  animation: fadeDown 0.4s ease-in-out;
}

.accepted-card-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 1em;
}

.accepted-card-header h2 {
  font-size: 1em;
}

.accepted-card-header button {
  display: block;
  margin-bottom: 1em;
  font-size: 0.8em;
}

.accepted-card-title {
  font-weight: 500;
}

.accepted-card-list {
  overflow-y: scroll;
  max-height: 400px;
  padding: 1em 0;
}

.accepted-user-card {
  height: 100%;
  display: flex;
  align-items: center;
  gap: 1em;
  background-color: var(--white-color);
  padding: 15px;
  border-radius: 27px;

  cursor: pointer;
  transition: background-color 0.2s ease;
}

.accepted-user-card:hover {
  background-color: var(--white-color-shade-1);
}

.accepted-user-card-info {
  display: flex;
  flex-direction: column;
  gap: 5px;
}


.accepted-user-card img{
  transition: all 0.2s ease-in-out;
  border: 3px solid transparent;
}


.accepted-user-card img:hover {
  border: 3px solid var(--white-color-shade-3);
}

.accepted-user-card img {
  width: 50px;
  height: 50px;

  border-radius: 50%;
  object-fit: cover;
  display: block;
}

.multiselect {
  max-height: 300px;
  overflow-y: scroll;
  background-color: var(--white-color);
  border-radius: 7px;
  border: 1px solid var(--bright-shade);
}

.multiselect-item {
  display: flex;
  align-items: center;
  gap: 1em;
  padding: 15px;
}

.multiselect-item-info {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.profile-main {
  display: flex;
  align-items: center;
  gap: 5px;
}

.profile-secondary {
  display: flex;
  flex-direction: column;
  gap: 2px;
  padding: 8px;
}

.profile-main img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}

.profile-main h1 {
  font-size: 1em;
  font-weight: 500;
}

/* tablet */

@media screen and (min-width: 768px) {
  .accepted-card-header {
    flex-direction: row;
    justify-content: space-between;

    gap: 1em;
  }
  .accepted-card-header h2 {
    font-size: 1.2em;
  }

  .accepted-card-header button {
    font-size: initial;
  }
}

@media screen and (min-width: 1280px) {
  .accepted-card-header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    gap: 1em;
  }
  .accepted-grouped {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
  }

  .accepted-card-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.5em;
  }

  .accepted-card-header h2 {
    font-size: 1.6em;
  }

  .accepted-card-header button {
    font-size: initial;
  }
}
