:root{
  --color-on-use: #fd6900;
  --color-other: #ffc033;
  --color-free: #dedede;
}

.server-error-body {
  background-color: var(--secondary-color-default);
  color: var(--white-color);
}

.server-error-body * {
  font-family: var(--text-font);
}

.error-container {
  margin: 10vh auto;
  width: fit-content;
  text-align: center;
  padding: 50px;
  transition: all 0.25s ease;
}

.error-container .iso-centered img {
  width: 100px;
  transition: all 0.25s ease;

}

.error-container .iso-centered img:hover {
  cursor: pointer;
  animation: spin 1s linear infinite;
  width: 120px;
  filter: hue-rotate(180deg); 
}

.error-container .iso-centered h2 {
  font-size: 3.6rem;
  font-weight: bold;
  line-height: 3rem;
  margin: 1em 0;
}

.error-container .iso-centered p {
  font-size: 1.6rem;
}

.error-content {
  width: fit-content;
  margin: auto;
  display: block;
  text-align: center;
  padding: 5em 0;
  transition: all 0.25s ease;
}

.error-container a {
  display: block;
  margin: 2em auto;
  text-align: center;
}

.storage-level-box{
  padding: 2em;
  border-radius: 10px;
  border: 1px solid var(--bright-shade);
  box-shadow: var(--shadow-xl);
  max-width: 1000px;

}

.storage-level-box h2{
  font-weight: 600;
}

.storage-bar{
  width: 100%;
  border-radius: 3px;
  background-color: var(--color-free);
  margin: 1em 0;
  display: flex;
  align-items: center;

}

.storage-bar-fill{
  background-color: var(--color-on-use);
  padding: 10px;
}

.storage-bar-fill-other{
  background-color: var(--color-other);
  padding: 10px;

}


.color-legend{
  display: flex;
  align-items: center;
  gap: 1em;
  padding: 1em 0;
}

.color-label{
  font-size: 1.03rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 1em;
}

.c-sq{
  padding: 5px;
}
.square-on-use{

  background-color: var(--color-on-use);
}
.square-other-using{

  background-color: var(--color-other);
}

.square-free{
  background-color: var(--color-free);
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
