.padded-min{
    padding: 2em;
}

.centered{
    margin: auto;
    text-align: center;
    width: fit-content;
}

.left-margin{
    margin-left: var(--main-margin);
}

.margin{
    margin: 1em var(--main-margin);
}

.title{
    font-size: 2.5em;
    font-weight: 600;
    line-height: 1em;
}

.flex-sb{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1em;
    text-align: left;
}

.flex-min{
    display: flex;
    gap: 1em;
    align-items: center;
}

.flex{
    display: flex;
}

.age-check-input{
    position: absolute;
    left: -600em;
}

.flex *{
    display: block;
    width: 100%;
}

.form-rounded{
    border-radius: 28px;
    padding: 10px 15px; 
    border: 1px solid black;
    cursor: pointer;
}

.w-fit {
    width: fit-content;
}
.w-full {
    width: 100%;
}

.size {
    position: absolute;
    left: -800em;
}

/* tablet */

@media only screen and (min-width: 768px) {
    .title{
        font-size: 3em;
    }
    .flex{
        display: flex;
        gap: 1em;
        align-items: center;
    }
}

