
/* Navbar Section */
.navbar {
    position: relative;
    margin: auto;
    text-align: center;
    padding: 1em;
    background-color: var(--main-color-default);

}

.navbar .logotype{
    width: 10rem;
    cursor: pointer;
}

/* Hero Section */
.hero{
    padding: 50% 2em;
    background-color: var(--main-color-default);
    text-align: center;
    background-image: url(../../assets/img/doggo_png.png);
    background-repeat: no-repeat;
    background-size: 80vh;
    background-position: bottom;
}

.hero h1{
    font-size: 3.3em;
    font-weight: 600;
    letter-spacing: -2px;
    line-height: 1em;
    max-width: 600px;
    margin:  1em auto;
    color: var(--white-color);
    text-shadow: var(--shadow-hard);

}

.hero a{
    width: fit-content;
    text-align: center;
    margin: auto;
}

/* Informational First Section */

.splitted-header{
    padding: var(--main-margin);
    display: block;
    text-align: center;
}

.splitted-header h3{
    font-size: 1.6em;
    font-weight: 700;
}

.splitted-header p{
    margin: 1em auto;
}

/* Objectives Section */

.objectives-carroussel{
    background-color: var(--secondary-color-default);
    color: var(--white-color);
    padding: 1rem;

}

.carroussel{
    display: flex;
    gap: 1em;
    max-width: 120%;
    margin-bottom: 1em;
    overflow-x: scroll;
    padding: 2rem;
}

.carroussel::-webkit-scrollbar{
    display: none;
}

.carroussel img{
    width: 100% ;
    border-radius: 7px;
}

.carrousel-actions{
    display: flex;
    gap: 1em;
    justify-content: center;
    margin: 1em auto;
}

.c-action{
    display: block;
    width: 40px;
    height: 40px;
    background-color: var(--white-color);
    color: var(--secondary-color-default);
    border-radius: 50%;
    cursor: pointer;
    font-size: 1.5em;
    text-align: center;
    border: 1px solid var(--secondary-color-default);
    border-bottom: 4px solid var(--secondary-color-default);
    transition: all .25s ease;
}

.c-action i{
    line-height: 40px;
    text-align: center;

}

.c-action:hover{
    background-color: var(--white-color-shade-1);
}

.objectives{
    padding: var(--main-margin);
}

.objectives h3{
    font-size: 1.6em;
    margin-bottom: 1em;
    text-align: center;
}

.objectives ul{
    list-style-type: none;
}

.objectives ul li{
    margin: 15px 0;
    text-align: center;
}

.objectives ul li::before{
    content: '- ';

}

/* sections */

.block{
    display: block;
}

.section-block{
    padding: 1rem;

}

.section-block h1{
    margin-bottom: 1em;
    font-weight: bold;
    line-height: .8em;
    font-size: 2em;
}

.shade-1{
    background-color: var(--main-color-default);
}
.shade-2{
    background-color: var(--main-color-shade-1);
}
.shade-3{
    background-color: var(--main-color-shade-2);
}
.shade-4{
    background-color: var(--main-color-shade-3);
}

.min-margin{
    margin: 1rem;
}
.min-margin b{
    font-weight: bold;
}

/* Requisites section */

.req-card{
    padding: 1rem;
    margin: 1rem;
    border-radius: 7px;
    border: 1px solid var(--secondary-color-default);
    text-align: center;
    
}

.req-card i{
    font-size: 3.5em;
}

.req-card h4{
    margin: 1em 0;
    font-weight: bold;
    font-size: 1.5em;
}

.req-card a{
    display: block;
    margin: 1em auto;
}

/* Contact Section */

.contact-section{
    padding: 2em;
    background-color: var(--main-color-default);
    text-align: center;
}

.contact-section h2{

    margin: 1em auto;
    font-weight: bold;
}

.contact-section iframe{
    width: 100%;
    height: 300px;
    border-radius: 7px;
    margin: 2em auto;
}

/* footer */

footer{
    padding: 1em;
    display: flex;
    gap: 1em;
    align-items: center;
    background-color: var(--main-color-default);
    justify-content: space-between;

}
footer .university-logo{
    width: 100px;
    height: auto;
    object-fit: contain;
}