
/* Navbar Section */
.navbar {
    position: relative;
    margin: auto;
    text-align: center;
    padding: 1em;
    background-color: var(--main-color-default);

}

.navbar .logotype{
    width: 10rem;
    cursor: pointer;
}

/* Hero Section */
.hero{
    padding: 23vh 3em;
    background-color: var(--main-color-default);
    text-align: center;
    background-image: url(../../assets/img/doggo_png.png);
    background-repeat: no-repeat;
    background-size: 80vh;
    background-position: left;
}

.hero h1{
    font-size: 3.3em;
    font-weight: 600;
    letter-spacing: -2px;
    line-height: 1em;
    max-width: 600px;
    margin:  1em auto;
    color: var(--white-color);
    text-shadow: var(--shadow-hard);

}

.hero a{
    width: fit-content;
    text-align: center;
    margin: auto;
}

/* Informational First Section */

.splitted-header{
    padding: var(--main-margin);
    display: block;
    text-align: center;
}

.splitted-header h3{
    font-size: 1.6em;
    font-weight: 700;
}

.splitted-header p{
    margin: 1em auto;
}

/* Objectives Section */

.objectives-carroussel{
    background-color: var(--secondary-color-default);
    color: var(--white-color);
    padding: 1rem;

}

.carroussel{
    display: flex;
    gap: 1em;
    max-width: 120%;
    margin-bottom: 1em;
    overflow-x: scroll;
    padding: 2rem;
}

.carroussel img{
    width: 100% ;
    border-radius: 7px;
}

.objectives{
    padding: var(--main-margin);
}

.objectives h3{
    font-size: 1.6em;
    margin-bottom: 1em;
    text-align: center;
}

.objectives ul{
    list-style-type: none;
}

.objectives ul li{
    margin: 15px 0;
    text-align: center;
}

.objectives ul li::before{
    content: '- ';

}

/* sections */

.block{
    display: block;
}

.section-block{
    padding: 1rem;
}

.shade-1{
    background-color: var(--main-color-default);
}
.shade-2{
    background-color: var(--main-color-shade-1);
}
.shade-3{
    background-color: var(--main-color-shade-2);
}
.shade-4{
    background-color: var(--main-color-shade-3);
}

.min-margin{
    margin: 1rem;
}