/* Login CSS styles */

/*******************************
 * LAYOUT CONTAINERS
 * Primary structural elements that define the app's layout
 *******************************/
/* Main Container */
.login {
    width: auto;
    height: auto;
    font-size: 1em;
}

/*******************************
 * FORM ELEMENTS
 * Styles for input fields, labels, and form layout
 *******************************/
/* Form Styling */
.login form {
    margin-top: calc(5vw + 2vh);

}

/* Page Title */
.login .page-title {
    font-family: "Livvic";
    font-weight: 600;
    color: #2c2c2c;
    font-size: 3.5em;
    letter-spacing: -0.06em;
    line-height: 1;
    margin-bottom: calc(1.4vw + 0.6vh);
    width: calc(19vw + 8vh);
}

/* Input Fields Container */
 .input-group {
    gap: calc(1vw + 1vh);
}

/* Input Labels */
.login .text-wrapper-2 {
    font-size: 1.5em;
    letter-spacing: -0.045em;
    line-height: 1.2;
    width: fit-content;
}

/* Input Fields */
.login .input-field {
    width: 100%;
    border-radius: 50px;
    border: 1px solid #000000;
    font-size: 1.2em;
    padding: 1em;
    outline: none;
    padding-right: 45px;
    width: fit-content;
}

.login .input-field:focus {
    border-color: var(--main-color-default);
}

/* Password Field Container */
.login .password-container {
    position: relative;
}

/* Password Toggle Button */
.login .password-toggle {
      background: none;
      border: none;
      cursor: pointer;
      color: #666;
      padding: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      width: fit-content;
      text-wrap: nowrap;
      gap: 5px;
}

.login .password-toggle:hover {
    color: #333;
}

/*******************************
 * BUTTONS AND ACTIONS
 * Styles for buttons, links, and interactive elements
 *******************************/
/* Actions Container */
.login .actions {
    align-items: center;
    gap: 15px;
    margin-bottom: 5px;
}

/* Main Button Styling */
.login .mainbutton {
    position: relative;
    right: 120px;
    cursor: pointer;
    padding: 0;
}

/* Button Text */
.login .secondary-action {
    width: calc(8.1vw + 3.4vh);
    color: #181818;
    font-size: 1.8em;
    letter-spacing: -0.06em;
}

/* Links Styling */
.login .signup-link,
.login .pass-reset-link {
    text-decoration: underline;
    color: #181818;
    font-size: calc(1.4vw + 0.6vh);
    letter-spacing: -0.038em;
    background-color: transparent;
    border: none;
    cursor: pointer;
    box-shadow: none;
}



.login .signup-link:hover,
.login .pass-reset-link:hover {
    border-color: var(--main-color-default);
}

.other-options{
    display: flex;
    align-items: start;
    flex-direction: column;
    gap: 10px;
    padding: 25px 0;
    font-size: .8em;
}


