/* Modal Styles */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(5px);
    align-items: center;
    justify-content: center;
    z-index: 10;
    transition: all 0.3s ease;
}

/* remove text selection on modal */
.modal * {
    user-select: none; /* Standard syntax */
}

.modal form{
    width: 100%;    
}

.modal-content {
    background-color: #fff;
    padding: 20px;
    width: 90%;
    max-width: max-content;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: relative;
    min-width: 25dvw;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
}

.modal h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.modal-details {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    margin-bottom: 20px;
}

.modal-details p {
    margin: 5px 0;
}

.alert-icon {
    color: #fbbd19;
    font-size: 18px;
}

.modal-header-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1em;
    margin: 1em 0;
}

textarea {
    width: 100%;
    height: 80px;
    padding: 10px;
    margin-bottom: 20px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
    max-height: 200px;
}

.send-button {
    background-color: #fbbd19;
    color: #333;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    font-size: 14px;
    width: 100%;
}

.status-info *{
    font-weight: bold;
    text-align: right;
}

.file-view-popup{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(5px);
    align-items: center;
    justify-content: center;
    z-index: 10;
    transition: all 0.3s ease;

}

.document-info-topbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2em;
    border-radius: 10px 10px 0px 0px;
    margin: 2em 2em 0 2em;
    background-color: var(--main-color-default);
    color: var(--secondary-color-default);
}

.file-view-popup .file-content{
    padding: 0 2em 2em 2em ;
    flex-direction: column;
    gap: 1em;
    color: var(--secondary-color-default);
    
}

.file-content embed{
    width: 100%;
    height: 75dvh;
    background-color: var(--white-color);

    border-radius: 0px 0px 10px 10px;
    display: flex;
}

.file-content img{
    width: 100%;
    height: 70dvh;
    object-fit: contain;
    background-color: var(--white-color);
    border-radius: 0px 0px 10px 10px;
    display: flex;
}

.file-content video{
    width: 100%;
    height: 70dvh;
    object-fit: contain;
    background-color: var(--white-color);
    border-radius: 0px 0px 10px 10px;
    display: flex;
}

