/* Modal Styles */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(5px);
    align-items: center;
    justify-content: center;
    z-index: 10;
    transition: all 0.3s ease;
}

.modal-content {
    background-color: #fff;
    padding: 20px;
    width: 90%;
    max-width: 500px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: relative;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
}

.modal h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.modal-details {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    margin-bottom: 20px;
}

.modal-details p {
    margin: 5px 0;
}

.alert-icon {
    color: #fbbd19;
    font-size: 18px;
}

textarea {
    width: 100%;
    height: 80px;
    padding: 10px;
    margin-bottom: 20px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
    max-height: 200px;
}

.send-button {
    background-color: #fbbd19;
    color: #333;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    font-size: 14px;
    width: 100%;
}

.status-info *{
    font-weight: bold;
    text-align: right;
}