
.profile-wrapper {

    margin: 0 auto;
    background-color: var(--white-color);
    padding: 20px;
    border-radius: 8px;

}

.header-logo {
    display: flex;
    align-items: center;
    background-color: var(--main-color-default);;
    padding: 1em var(--main-margin);
}


.h-logo {
    height: 40px;
    margin: 0 auto;
}

.applicant-info {
    display: flex;
    align-items: center;
    padding: 20px 0;
    border-bottom: 1px solid #ccc;
}

.applicant-photo {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-right: 20px;
    object-fit: cover;
}

.applicant-details h1 {
    font-size: 20px;
    margin-bottom: 5px;
}

.applicant-details p {
    font-size: 14px;

}

.data-section {
    margin-top: 20px;
}

.data-section h2 {
    font-size: 18px;
    margin-bottom: 10px;
}

.data-grid, .documents-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.data-grid div, .documents-grid div {

    padding: 10px;
    border-radius: 4px;
}

.data-grid strong, .documents-grid a {
    font-size: 14px;
    color: #333;
}

.status-options {
    display: flex;
    gap: 15px;
    margin: 15px 0;
}

.status-options label {
    font-size: 14px;
    cursor: pointer;
}

.send-message {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    font-size: 14px;
}

.actions {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 15px;
    margin: 10px 0;
}

.actions label {
    font-size: 14px;
}

.radio-option {
    padding: 10px;
    border: 1px solid var(--secondary-color-default);

    border-radius: 20px;
    cursor: pointer;
    transition: border-color 0.3s ease;
}

.manage-section{
    padding: 20px 0;
}