.big-profile {
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin: 5dvh auto;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.big-actions .profile-badge, .big-actions img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    text-align: center;
    margin: 10px auto;
    justify-content: center;
    font-size: 3.3em;
    transition: all 0.25s ease;
    user-select: none;

}

.user-manage-section {
    padding: 2em;
}

.user-data-grid {
    display: grid;
    grid-template-columns: 1fr;

    gap: 15px;
    margin: 1em auto;
    max-width: 1000px;
    padding: 1em;
    border-radius: 10px;
    justify-items: center;
    align-items: stretch;
    transition: all 1s ease;

}

.grid-data-box {
    padding: 2em;
    display: flex;
    flex-direction: column;
    text-align: center;
    border-radius: 10px;
    margin: 1em;
    animation: fadeDown 0.25s ease;

}

.grid-data-box-header {
    display: flex;
    align-items: baseline;
    gap: 1em;
    justify-content: center;
}

.grid-data-box-header i {
    font-size: 1em;
}

.grid-data-box-header #edit-icon {
    font-size: .7em;
}

.grid-data-box h2 {
    font-size: 1.3em;
    font-weight: 500;
    margin-bottom: 1em;
}

.big-actions{
    animation: fadeUp 1s ease;
}


.big-actions h1 {
    font-size: 2.1em;
    font-weight: bold;
}

.profile-user {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.profile-user i {
    font-size: .7em;
}

.profile-action-group {
    padding: 2em;
    border-radius: 10px;


    margin: 1em auto;
    max-width: 1000px;
    transition: all 0.25s ease;
    animation: fadeDown 1s ease;
}

.profile-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1em;
}

.profile-header h1 {
    font-size: 1.6em;
    font-weight: 500;
}

.profile-splited-view {
    display: flex;
    flex-direction: column;
    gap: 1em;
    border: 1px solid var(--bright-shade);
    border-radius: 10px;
    margin-bottom: 1em;
    background-color: white;
    box-shadow: var(--shadow-xl);
}

.no-data-disc{
    color: gray;
    font-style: italic;

}

.profile-section-title {
    padding: 10px;
    border-bottom: 1px solid #e5e5e5;
    font-size: .8em;
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 10px;

}

.mini-badge {
    font-size: .7em;
    background-color: var(--main-color-default);
    font-weight: bold;
    padding: 3px 8px;
    border-radius: 100px;

}


.profile-section-title h1 {
    font-size: 1.6em;
    font-weight: bold;
}


.comment-card {
    display: flex;
    flex-direction: column;
    border: 1px solid #e5e5e5;
    transition: all 0.25s ease;
    margin-bottom: 1em;
    border-radius: 10px;
}

.comment-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #e5e5e5;
    font-weight: bold;
    padding: 1em;
}

.comment {
    padding: 1em;
}

.comment-actions {
    display: flex;
    align-items: center;
    gap: 10px;
}

.comment-card:last-child {
    margin-bottom: 0;
}

.comment-card h1 {
    font-size: 1.3em;
    font-weight: bold;
}

.section-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1em;
    padding: 1em;
    border-bottom: 1px solid var(--bright-shade);
    max-width: 1400px;
    margin: 0 auto;
}


.profile-badge {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 1em;
    font-weight: bold;
    padding: 10px;
    border-radius: 100px;
    background-color: var(--main-color-shade-3);
    text-transform: uppercase;
    width: fit-content;
}

.comment-info {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: .7em;
}

.post-comment-form {
    padding: 1em;
    border-top: 1px solid var(--bright-shade);

}

.comment-form-actions {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

.disclaimer {
    text-align: center;
    font-size: .8em;
    color: #343434;
    padding: 3em;
    border-bottom: 1px solid var(--bright-shade);
}

.profile-padded {
    padding: 1em;
}

.comment-padded {
    flex: 1 1;
}


.header-logo {
    display: flex;
    align-items: center;
    background-color: var(--main-color-default);
    padding: 1em var(--main-margin);
}

.h-logo {
    height: 40px;
    margin: 0 auto;
}

.applicant-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;

}

.applicant-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}


.data-section h2 {
    font-weight: bold;
    font-size: 1.3em;
    margin-bottom: 10px;
}


.applicant-photo {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 10px;
    object-fit: cover;
}

.applicant-details h1 {
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 5px;
}

.applicant-details p {
    font-size: 14px;
}

.data-section {
    margin-top: 20px;
    padding: 20px;
    border: 1px solid #e5e5e5;
    border-radius: 10px;
}

.data-grid,
.documents-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
}

.data-grid div,
.documents-grid div {
    padding: 10px;
    border-radius: 4px;
}

.data-grid strong,
.documents-grid a {
    font-size: 14px;
    color: #333;
}

.status-options {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin: 15px 0;
}

.status-options label {
    font-size: 14px;
    cursor: pointer;
}

.status-select {
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #e5e5e5;
    margin: 5px 0;
    appearance: none;
    outline: none;
    cursor: pointer;
    font-size: 14px;
    background-color: white;
    width: 100%;
}

.send-message {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    font-size: 14px;
}

.actions-col {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.actions-col label {
    font-size: 14px;
}

.actions-st {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 20px 0;
}

.actions {
    display: flex;

    align-items: center;
    justify-content: flex-end;
    gap: 15px;
    margin: 10px 0;
}

.actions label {
    font-size: 14px;
}

.radio-option {
    padding: 10px 12px;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.radio-option-danger {
    padding: 10px 12px;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.radio-option:hover {
    background-color: var(--white-color);
}

.radio-option-danger:hover {
    color: var(--danger-color);
    background-color: #ffefef;
}


.manage-section {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
}


.manage-section h2 {
    font-size: 1.3em;
    font-weight: bold;
    margin-bottom: 10px;
}

.extra-notes {
    display: flex;
    padding: 1em;
    background-color: var(--main-color-shade-3);
    border-radius: 10px;
    flex-direction: column;
    gap: 10px;
    margin: 10px 0;
}

.extra-notes h2 {
    font-size: 1.2em;
    font-weight: 500;
    margin-bottom: 10px;
}

.extra-notes p {
    font-size: 14px;
    text-transform: capitalize;

}

.comment-list {
    padding: 1em;
    max-height: 500px;
    overflow: scroll;
}


@media print {
    .sidebar {
        display: none;
    }

    footer {
        display: none;
    }

    .profile-wrapper {
        display: block;
        margin: 0;
        padding: 0;
        box-shadow: none;
    }

    .profile-wrapper a.main-action-bright,
    .profile-wrapper button.main-action-bright,
    label {
        display: none;
    }


    .profile-wrapper a.main-action-bright.no-deco-action {
        display: block;
    }

    .main-content {
        padding: 0;
        margin: 0;
    }

    .manage-section {
        display: none;
    }
}

@media only screen and (min-width: 768px) {
    .data-grid,
    .documents-grid {
        grid-template-columns: 1fr 1fr;
    }

    .user-data-grid {
        grid-template-columns: 1fr 1fr 1fr;
        background-color: white;
        justify-items: stretch;
        padding: 0;
    }

    .profile-action-group {
        background-color: white;
        box-shadow: var(--shadow-xl);
        border: 1px solid var(--bright-shade);
    }

    .grid-data-box {
        background-color: white;
        box-shadow: var(--shadow-xl);
        border: 1px solid var(--bright-shade);
        text-align: left;
        margin: 0;
    }

    .grid-data-box-header {
        text-align: left;
        justify-content: start;
        justify-items: start;
    }

}

@media only screen and (min-width: 1200px) {
    .profile-splited-view {
        display: flex;
        flex-direction: row;
        gap: 0;
        align-items: start;
        width: 100%;
        margin-bottom: 2em;

    }

    .comment-list {
        max-height: 950px;
        overflow: scroll;
    }


    .profile-wrapper {
        border-right: 1px solid #e5e5e5;
        flex: 1;
    }

    .comment-sidebar {
        flex: .5;
    }

    .data-grid,
    .documents-grid {
        grid-template-columns: 1fr 1fr 1fr;
    }

}

@media only screen and (min-width: 1400px) {
    .profile-action-group {
        border: 1px solid var(--bright-shade);
    }
}