.settings-category-group{
    padding: 1em;
    margin: 1em 0;   
    border-radius: 27px;
    background-color: white;
    border: 1px solid var(--bright-shade);
    box-shadow: 15px 15px 150px #d7d7d7;
}

.setting-title{
    font-weight: bold;
    font-size: 1.3em;

}
.settings-block{
    border-radius: 27px;
    padding: .5em;
    margin: .5em 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.title-group{
    display: flex;
    align-items: center;
    gap: 0.5em;
}

.colored-icon-setting
{
    font-size: 1.5em;
    width: 28px;
}

/* desktop */

@media only screen and (min-width: 1250px) {
    .settings-cards{
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 1em;
        
    }
}